[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
flask-marshmallow = "==0.14.0"
greenlet = "==1.1.2"
itsdangerous = "==2.0.1"
marshmallow = "==3.14.1"
marshmallow-sqlalchemy = "==0.26.1"
six = "==1.16.0"
Flask = "==2.0.2"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.28"
Werkzeug = "==2.0.2"
flask-login = "*"
flask-bcrypt = "*"
python-decouple = "*"
flask-jwt-extended = "*"
flask-mailman = "*"

[dev-packages]

[requires]
python_version = "3.9"
