[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
flask-marshmallow = "==0.14.0"
greenlet = "==1.1.2"
itsdangerous = "==2.0.1"
marshmallow = "==3.14.1"
marshmallow-sqlalchemy = "==0.26.1"
six = "==1.16.0"
Flask = "==2.0.2"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.28"
Werkzeug = "==2.0.2"
flask-login = "==0.6.1"
flask-bcrypt = "==1.0.1"
python-decouple = "==3.6"
flask-jwt-extended = "==4.4.0"
psycopg2 = "==2.9.3"
sendgrid = "==6.9.7"
flask-cors = "==3.0.10"
requests = "*"
pytest = "*"
bcrypt = "==3.2.2"
cffi = "==1.15.0"
flask-sqlalchemy = "==2.5.1"
flask = "==2.0.2"
jinja2 = "==3.0.3"
markupsafe = "==2.0.1"
pycparser = "==2.21"
pyjwt = "==2.4.0"
python-http-client = "==3.3.7"
sqlalchemy = "==1.4.28"
starkbank-ecdsa = "==2.0.3"
werkzeug = "==2.0.2"
flask-migrate = "*"
apscheduler = "*"
sqlite-utils = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.db-to-sqlite]
extras = [ "postgresql",]
