bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
Flask==2.0.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.3.1
Flask-Login==0.6.0
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.26.1
mkdocs-material-extensions==1.0.3
psycopg2==2.9.3
pycparser==2.21
PyJWT==2.3.0
python-decouple==3.6
six==1.16.0
SQLAlchemy==1.4.28
Werkzeug==2.0.2
