backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
decouple==0.0.7
distlib==0.3.4
filelock==3.4.0
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.26.1
platformdirs==2.4.0
pycparser==2.21
python-dotenv==0.20.0
six==1.16.0
SQLAlchemy==1.4.28
virtualenv==20.10.0
Werkzeug==2.0.2
